<h1>liste des articles</h1>
<div class="container">
    <button type="button" class="btn btn-success" routerLink="/insertart">Nouveau</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th> designation</th>
                <th>reference</th>
                <th>marque</th>
                <th>prix </th>
                <th>qtestock</th>
                <th>imageart</th>
                <th>modifier</th>
                <th>supprimer</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of articles">
                <td>{{c.designation}}</td>
                <td>{{c.reference}}</td>
                <td>{{c.marque}}</td>
                <td>{{c.prix}}</td>
                <td>{{c.qtestock}}</td>
                <td><img src={{c.imageart}} width="60" height="60"></td>
                <td><button type="button" class="btn btn-primary" [routerLink]="['/modifart', c._id]">modifier</button></td>
                <td><button type="button" class="btn btn-danger" (click)="supparticle(c._id)">supprimer</button></td>
            </tr>
        </tbody>
    </table>
</div>
