<form> 
    <div class="mb-3">
        <input type="text" class="form-control" id="nomscategorie" name="nomscategorie" placeholder="nom souscategorie" [(ngModel)]="souscat.nomscategorie">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" id="imagescat" name="imagescat" placeholder="image souscategorie" [(ngModel)]="souscat .imagescat ">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3" (click)="modifsouscat()">modifier</button>
      </div>
    </form>

