<h1>liste des sous-catégories</h1>
<div class="container">
    <button type="button" class="btn btn-success">Ajouter</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>image</th>
                <th>nom souscategorie</th>
                <th>modifier</th>
                <th>supprimer</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of scategories">
                
                <td><img src={{c.imagescat}} width="60" height="60"></td>
                <td>{{c.nomscategorie}}</td>
                <td><button type="button" class="btn btn-primary" [routerLink]="['/modifsouscat/',c._id]">modifier</button></td>
                <td><button type="button" class="btn btn-danger" (click)="suppScategorie(c._id)">supprimer</button></td>
            </tr>
        </tbody>
    </table>
</div>

